:root{
    --primary: black;
    --border:red;
    --secondary:white;
}
body{
    background-color: var(--primary);
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.btn{
    color: var(--secondary);
    background-color: var(--primary);
    padding: 10px, 20px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom:1px solid var(--border);
    border-top: 1px solid transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.dot{
    position: absolute;
    width:5px;
    height:5px;
    background-color: var(--secondary);
    border-radius: 50%;  
    z-index: -1; 
}
.circle{
    position: absolute;
    width:5px;
    height:5px;
    background-color: transparent;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    z-index: -1;   
}
.btn:hover{
    border-top: 1px solid var(--border);
    border-bottom: 0px solid transparent;
    top: 2px;
}
.btn:hover .slide-up{
    animation: slide-up 0.5s infinite;
}
.btn:hover .slide-left{
    animation: slide-left 0.5s infinite;
    animation-delay: 0.2s;
}
.btn:hover .slide-right{
    animation: slide-right 0.5s infinite;
    animation-delay: 0.6s;
}
.btn:hover .slide-down{
    animation: slide-down 0.5s infinite;
    animation-delay: 0.3s;
}
.btn:hover .slide-top-right{
    animation: slide-top-right 0.5s infinite;
    animation-delay: 0.7s;
}
.btn:hover .slide-top-left{
    animation: slide-top-left 0.5s infinite;
    animation-delay: 0.4s;
}
.btn:hover .slide-bottom-right{
    animation: slide-bottom-right 0.5s infinite;
    animation-delay: 0.8s;
}
.btn:hover .slide-bottom-left{
    animation: slide-bottom-left 0.5s infinite;
    animation-delay: 0.5s;
}
@keyframes slide-up {
    0%{
        top:0;
    }
    100%{
        top: -50px;
        opacity: 0;
    }
}
@keyframes slide-left {
    0%{
        left:0;
    }
    100%{
        left: -50px;
        opacity: 0;
    }
}
@keyframes slide-right {
    0%{
        right:0;
    }
    100%{
        right: -50px;
        opacity: 0;
    }
}
@keyframes slide-down {
    0%{
        bottom:0;
    }
    100%{
        bottom: -50px;
        opacity: 0;
    }
}
@keyframes slide-top-right {
    0%{
        top:0;
        right:0;
    }
    100%{
        right: -15px;
        top: -15px;
        opacity: 0;
    }
}
@keyframes slide-top-left {
    0%{
        top:0;
        left:0;
    }
    100%{
        left: -15px;
        top: -15px;
        opacity: 0;
    }
}
@keyframes slide-bottom-right {
    0%{
        bottom:0;
        right:0;
    }
    100%{
        right: -15px;
        bottom: -15px;
        opacity: 0;
    }
}
@keyframes slide-bottom-left {
    0%{
        bottom:0;
        left:0;
    }
    100%{
        left: -15px;
        bottom: -15px;
        opacity: 0;
    }
}